<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模板</title>
</head>
<body>

    <nav class="navbar navbar-default navbar-inverse" th:fragment="common_haeder">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">后台管理</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a th:href="@{/}">首页 <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#">博客</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">管理员</a></li>
                    <li><a th:href="@{/logout}">注销</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="col-xs-2" th:fragment="cbl">
        <ul class="nav panel panel-default" >
            <li class="active"><a th:href="@{/admin/addBlog}">添加博客</a></li>
            <li><a th:href="@{/admin/blog/BlogList}">博客列表</a></li>
            <li><a href="#">第三部分</a></li>
            <li><a href="#">第四部分</a></li>
            <li><a href="#">第五部分</a></li>
        </ul>
    </div>

    <div class="container-fluid" th:fragment="dibu" id="dibu">
        <div class="panel panel-heading">
            <div class="panel-body" style="text-align: center">
                <h5>Copyright © 2020 xiuyuandashen</h5>
                <h5>Powered by SpringBoot</h5>
            </div>
        </div>
    </div>
</body>
</html>