<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客名称</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->


    <link rel="stylesheet" th:href="@{/editor.md-master/css/editormd.css}"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>

    <style>
        /*img {*/
        /*    width: 80%;*/
        /*    text-align: left;*/
        /*}*/
        .container-fluid{
            padding: 0;
            border: none ;
        }
        .container .jumbotron, .container-fluid .jumbotron{
            border: none;
        }
    </style>


</head>
<body>
<div class="container-fluid">
    <nav class="navbar  navbar-inverse" style="margin-bottom: 0;border: none">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="padding: 15px 24px">个人博客</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a th:href="@{/index}">首页 <span class="sr-only">(current)</span></a></li>
                    <!--                    <li><a th:href="@{}">博客</a></li>-->
                </ul>
                <ul class="nav navbar-nav tx " th:if="${user}!=null" style="position: relative" >
                    <li ><a href="#">
                        <img  th:if="${user}!=null" th:src="${user.headPortrait}" class="img-circle"  id="touxiang" width="20px">
                        <img  th:if="${user}==null" src="./img/4.png" class="img-circle"  id="touxiang" width="20px">
                        <span class="sr-only">(current)</span>
                    </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li th:if="${user}==null" ><a th:href="@{/login}">登录</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="jumbotron" style="background-image: url('/img/blog/2.jpeg');background-size:100% auto;background-position-y:10%;border: none;margin-bottom: 5px">

        <div class="container">
            <h1>hello </h1>
            <p style="color: #999">欢迎来到秀元的个人博客</p>
        </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="/index">首页</a></li>
        <li class="active" th:text="${blog.title}"></li>
    </ol>
    <div class="container">
        <div class="row" style="margin-bottom: 5vh">
            <div id="layout" class="editor col-lg-12" >
                <div class="page-header">
                    <h3 id="dingbu">[[${blog.getTitle()}]]  <small th:text="${#dates.format(blog.time, 'yyyy-MM-dd')}"></small></h3>
                </div>
                <!-- id 与 editormd.markdownToHTML("id",{}) 要一致 -->
                <div id="test-editormd">
                    <textarea th:text="${blog.getContent()}"></textarea>
                </div>
            </div>
        </div>


        <div  class="row col-xs-12" style="margin-bottom: 5vh">
            <div class="pinglun1" style="display: flex;justify-content: space-between;align-items: center">
                <div th:if="${user}!=null" class="touxiang col-lg-1" style="display: flex">
                    <img th:src="${user.headPortrait}" alt="" class="img-circle" style="width: 70px;height: 70px;margin: 0 auto" id="headImg">
                </div>
                <div th:if="${flag}=='false'" class="touxiang col-lg-1" style="display: flex">
                    <img th:src="@{/img/4.png}" alt="" class="img-circle" style="width: 70px;height: 70px;margin: 0 auto" >
                </div>
                <div class="col-lg-11" style="display: flex;justify-content: flex-start;">
                    <textarea class="FplText" id="fpl" style="width: 800px;max-width: 800px;height: auto;min-width: 800px;min-height: 80px;"></textarea>
                    <button class="btn btn-success Fpinglun" id="PL" style="max-width: 80px;margin-left: 10px">评论</button>
                </div>
            </div>
        </div>
        <div class="row ping col-xs-12" >
            <div class="panel panel-default" th:each="item : ${comments}">
                <div class="panel-body" th:pid="0" th:replyUserId="0" th:userId="${item.userId}"  th:commentId="${item.commentId}" >
                    <div style="display:flex;justify-content: start;align-items: center;">
                        <img th:src="${item.headPortrait}" alt="" class="img-circle" style="width: 50px;height: 50px;margin-right: 20px;">
                        [[${item.userName}]] :
                        [[${item.commentMsg}]]
                        <span class="label label-primary" style="margin-left: 7px"> [[${item.createTime}]] </span>
                        <small id="huiFuBtn" style="color: #999999;margin-left: 5px;">回复</small>
                    </div>
                    <div class="pinglun" style="display: none;justify-content: space-between;align-items: center;width:80%;height:100%;margin-left: 100px;border-left: 1px solid #ddd;">
                        <div class="touxiang" style="display: flex;width:80px;">
                            <img th:if="${user}!=null" th:src="${user.headPortrait}" alt="" class="img-circle" style="width: 50px;height: 50px;" >
                            <img th:if="${user}==null" src="/img/4.png" alt="" class="img-circle" style="width: 50px;height: 50px;" >
                        </div>
                        <div class="" style="display: flex;justify-content: flex-start;width:90%;align-items: center">
                            <textarea class="FplText" id="hf" style="width: 80%;height: 80%;min-width: 600px;max-height: 80px;min-height: 50px"></textarea>
                            <button class="btn btn-success Fpinglun" id="btnhf" style="width: 80px;margin-left: 10px">评论</button>
                            <small id="quxiaohuifu" style="color: red;margin-left: 7px">取消回复</small>
                        </div>
                    </div>
                </div>
                <div th:if="${item.getReplyVO().size()}>0" th:each="it :${item.getReplyVO()}" class="panel-body" th:pid="${item.commentId}" th:commentId="${it.commentId}" th:userId="${it.userId}" th:replyUserId="${it.replyUserId}" style="margin-left:100px;border-left: 1px solid #ddd;">
                    <div style="display:flex;justify-content: start;align-items: center;">
                        <img th:src="${it.headPortrait}" alt="" class="img-circle" style="width: 50px;height: 50px;margin-right: 20px;">
                        [[${it.userName}]]  对   [[${it.replyUserName}]]  说：
                        [[${it.commentMsg}]]
                        <span class="label label-primary" style="margin-left: 7px" >[[${it.createTime}]]</span>
                        <small class="" id="huiFuBtn" style="color: #999999;margin-left: 5px;">回复</small>
                    </div>

                    <div class="pinglun" style="display: none;justify-content: space-between;align-items: center;width:80%;height:100%;margin: 20px 0 0 0">
                        <div class="touxiang" style="display: flex;width:80px;">
                            <img th:if="${user}!=null" th:src="${user.headPortrait}" alt="" class="img-circle" style="width: 50px;height: 50px;" >
                            <img th:if="${user}==null" src="/img/4.png" alt="" class="img-circle" style="width: 50px;height: 50px;" >
                        </div>
                        <div class="" style="display: flex;justify-content: flex-start;width:90%;align-items: center">
                            <textarea class="FplText" id="hf" style="width: 80%;height: 80%;min-width: 600px;max-height: 80px;min-height: 50px"></textarea>
                            <button class="btn btn-success Fpinglun" id="btnhf" style="width: 80px;margin-left: 10px">评论</button>
                            <small id="quxiaohuifu" style="color: red;margin-left: 7px">取消回复</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<hr>
<div th:replace="~{ admin/conn ::  dibu }"></div>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script th:src="@{/editor.md-master/lib/marked.min.js}"></script>
<script th:src="@{/editor.md-master/lib/prettify.min.js}"></script>
<script th:src="@{/editor.md-master/lib/raphael.min.js} "></script>
<script th:src="@{/editor.md-master/lib/underscore.min.js}"></script>
<script th:src="@{/editor.md-master/lib/sequence-diagram.min.js} "></script>
<script th:src="@{/editor.md-master/lib/flowchart.min.js }"></script>
<script th:src="@{/editor.md-master/editormd.min.js}"></script>
<script th:src="@{/js/ajax.js}"></script>

</body>
<script>
        let flag = [[${flag}]]
        console.log(flag)
        if(flag == true){
            var touxiang = document.querySelector("#touxiang");
            touxiang.addEventListener("mouseover",()=>{
                if(document.querySelector(".caidan")==null){


                    var div = document.createElement("div");
                    div.className = "caidan"
                    div.style.width="100px";
                    div.innerHTML=`
                <ul style="background-color: white;box-shadow: 0 0 5px #999;text-align: left;list-style: none;padding: 3px" >
                    <li style="line-height: 30px">
                    <span class="glyphicon glyphicon-home" style="margin:0  5px 0 5px;" aria-hidden="true"></span>
                    <a href="/user/personalCenter" style="color: #999999">个人中心</a>
                    </li>
                    <li style="line-height: 30px">
                    <span class="glyphicon glyphicon-th-list" style="margin:0  5px 0 5px;" aria-hidden="true"></span>
                    <a href="/user/userBlogList" style="color: #999999">我的博客</a>
                    </li>
                    <li style="line-height: 30px">
                    <span class="glyphicon glyphicon-pencil" style="margin:0  5px 0 5px;" aria-hidden="true"></span>
                    <a href="/user/addBlog" style="color: #999999">写博客</a>
                    </li>
                    <li style="line-height: 30px">
                    <span class="glyphicon glyphicon-off" style="margin:0 5px 0 5px;" aria-hidden="true"></span>
                    <a href="/logout" style="color: #999999">注销</a>
                    </li>

                </ul>
            `
                    let tx = document.querySelector(".tx")
                    tx.appendChild(div)
                    div.style.position =  "absolute";
                    div.style.top = "50px"
                    div.style.left = "0px"
                    div.addEventListener("mouseleave",()=>{
                        tx.removeChild(document.querySelector(".caidan"))
                    })
                }
            })
        }

</script>
<script>


    var testEditor =null;
    let PingLunDiv=null;
    testEditor = editormd.markdownToHTML("test-editormd", {
        htmlDecode: "style,script,iframe", // you can filter tags decode
        // emoji: true,
        // taskList: true,
        // tex: true, // 默认不解析
        // flowChart: true, // 默认不解析
        // sequenceDiagram: true, // 默认不解析
        // previewTheme : "dark"
    });
    //testEditor.setPreviewTheme("dark");
    PingLunDiv = document.querySelector(".ping");


    //评论
    function pinglunBtn() {
        var pinglunBtn = document.querySelector("#PL");
        pinglunBtn.addEventListener("click",()=>{
            if(document.querySelector("#fpl").value.trim().length>0){
                let url = "/comment/addcomment";
                let data={
                    blogId : [[${blog.bid}]],
                    commentMsg : document.querySelector("#fpl").value,
                    replyUserId: 0,
                    pid: 0
                }

                console.log(data);
                Ajax1(url,data,"POST",()=>{
                    var res = xmlHttpRequest.responseText;
                    if(res == "true"){
                        //重新加载
                        location.reload();
                    }else alert("请先登陆！")


                });
            }

        })
    }
    //评论
    pinglunBtn();

    //清除评论列表
    var clearCommentList = ()=>{
        var Plist = document.querySelector(".ping");
        Plist.innerHTML="";
    }
    // 显示回复框
    var huifuArr = document.querySelectorAll("#huiFuBtn");
    huifuArr.forEach((item)=>{


        item.addEventListener("click",()=>{
            huifuArr.forEach((item)=>{
                let nextSibling = item.parentNode.nextSibling;
                nextSibling.nextSibling.style.display = "none";
            })
            let nextSibling = item.parentNode.nextSibling;
            //console.log(nextSibling.nextSibling);

            nextSibling.nextSibling.style.display = "flex";
        })
    })

    //回复消息
    var btnhuifuArr = document.querySelectorAll("#btnhf");
    if(flag==true){
        btnhuifuArr.forEach((it)=>{
            //console.log(it)
            it.addEventListener('click',()=>{
                if(it.previousElementSibling.value.trim().length>0){
                    let url = "/comment/addcomment";
                    let a = it.parentNode.parentNode.parentNode;
                    console.log(a);
                    console.log("-- ---")

                    let pid;
                    if(a.getAttribute("pid") == '0') pid = a.getAttribute("commentId");
                    else if(a.parentNode.firstElementChild.getAttribute("pid")) pid = a.parentNode.firstElementChild.getAttribute("commentId");

                    let data={
                        blogId : [[${blog.bid}]],
                        commentMsg : it.previousElementSibling.value,
                        replyUserId: a.getAttribute("userId"),
                        pid: pid

                    }
                    console.log(data);
                    Ajax1(url,data,"POST",()=>{
                        // 响应
                        var res = xmlHttpRequest.responseText;
                        if(res == "true"){
                            location.reload();
                        }else alert("请先登陆！")
                    });
                }

            })
        })
    }

    // 取消评论

    let quxiaohuifubtnArr = document.querySelectorAll("#quxiaohuifu");
    quxiaohuifubtnArr.forEach((item)=>{
        item.addEventListener("click",()=>{
            item.parentNode.parentNode.style.display = "none";
        })

    })
</script>


</html>
