<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <link rel="stylesheet" th:href="@{/css/index-3dimg.css}">
    <link rel="stylesheet" th:href="@{/css/loading.css}">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        a{
            text-decoration: none;

        }
        .container-fluid{
            padding: 0;
            border: none ;
        }
        @media screen and (max-width: 1045px){
            .bloglistitem{
                margin: 4vw;
            }
        }
    </style>
</head>
<body>

<div class="container-fluid"  >
    <nav class="navbar navbar-inverse " style="margin-bottom:0 ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="padding: 15px 24px">个人博客</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
<!--                    <li><a th:href="@{}">博客</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li th:if="${user}==null" ><a th:href="@{/login}">登录</a></li>
                    <li th:if="${user}==null" ><a th:href="@{/registered}">注册</a></li>
                    <li th:if="${user}!=null">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img class="img-circle" th:src="${user.headPortrait}" alt="头像" style="margin: -5px;" width="35px">
                            &nbsp;
                            <strong id="id_user_username">[[${user.name}]]</strong>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href = "/user/personalCenter">个人中心</a></li>
                            <li><a href = "/user/userBlogList">我的博客</a></li>
                            <li><a href = "/user/addBlog">写博客</a></li>
                            <li class = "divider"></li>
                            <li><a href = "/logout">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="jumbotron" style="background-image: url('https://cdn.jsdelivr.net/gh/xiuyuandashen/figureBed/2020/12/1228a0bf5a46394a7f8c51202b055a8864.jpeg');background-size:100% auto;background-position-y:10%;border: none;">

        <div class="container">
            <h1>Hello World</h1>
            <p style="color: #999">这是一个简约的博客网站</p>
        </div>
    </div>
    <div class="container" >
            <div class="row" style="margin-bottom: 3vh">
                <div class="col-md-4 bloglistitem" ontouchstart="this.classList.toggle('hover');" th:each="blog : ${blogPageInfo.list}">
                    <div class="container1">
                        <a th:href="@{/blog/queryId(id=${blog.getBid()})}">
                            <div class="front" style="background-image: url('/img/2.png');" >
                                <div class="inner">
                                    <p th:text="${blog.title}"></p>
                                    <p th:text="${blog.userName}"></p>
                                    <span th:text="${#dates.format(blog.time, 'yyyy-MM-dd')}"></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p th:text="${blog.getbName()}"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>



        <div class="row">
            <p class="text-primary col-md-12" style="text-align: center">
                当前第<span th:text="${blogPageInfo.pageNum}"></span>页,
                共<span th:text="${blogPageInfo.list.size()}"></span>条记录,
                共<span th:text="${blogPageInfo.pages}"></span>页
            </p>
        </div>
        <div class="row">
            <nav aria-label="Page navigation"  class="col-lg-12" style="display: flex;justify-content: center">
                <ul class="pagination" style="">
                    <li>
                        <a th:href="@{/(pageNum=${blogPageInfo.getPrePage()})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li id="page" th:each="pagenums :${blogPageInfo.navigatepageNums}" th:class="${pagenums == blogPageInfo.getPageNum()?'active':''}"><a th:href="@{/(pageNum=${pagenums})}" th:text="${pagenums}"></a></li>

                    <li>
                        <a th:href="@{/(pageNum=${blogPageInfo.getNextPage()})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


    </div>
    <div th:replace="~{ admin/conn ::  dibu }"></div>
</div>

<div class="a">
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>

    document.onreadystatechange = function() 　　//当页面加载状态改变的时候执行function

    {

        if(document.readyState == "complete")

        { 　　//当页面加载状态为完全结束时进入

             document.querySelector(".a").style.display = "none";
        }
    }
</script>


</body>
</html>