<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.blogDao">

    <resultMap id="blog" type="blog">
        <id column="b_id" property="bid"></id>
        <result column="b_name" property="bName"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="time" property="time"></result>
        <result column="user_id" property="userId"></result>
        <result column="user_Name" property="userName"></result>
    </resultMap>

    <resultMap id="abstractBlog" type="abstractBlog">
        <id column="b_id" property="bid"></id>
        <result column="b_name" property="bName"></result>
        <result column="title" property="title"></result>
        <result column="time" property="time"></result>
        <result column="user_id" property="userId"></result>
        <result column="user_Name" property="userName" ></result>

    </resultMap>
    
    <select id="quireAll" resultMap="abstractBlog">
        select b_id,b_name,title,user_Name,time,user_id from blog
    </select>

    <select id="quireById" resultMap="blog" parameterType="int">
        select *from blog where b_id = #{id}
    </select>
    <select id="quireyByUserId" resultMap="abstractBlog" parameterType="int">
        select b_id,b_name,title,time,user_id,user_Name from blog where user_id = #{userId}
    </select>
    <insert id="addBlog" parameterType="blog">
        insert into blog(b_name,title,content,time,user_id,user_Name) values(#{bName},#{title},#{content},#{time},#{userId},#{userName})
    </insert>

    <delete id="removeBlogById" parameterType="int">
        delete from blog where b_id = #{id}
    </delete>

    <update id="updateBlog" parameterType="blog">
        update blog
        <set>
            <if test=" title !=null and title != '' ">
                title = #{title},
            </if>
            <if test=" bName !=null and bName != '' ">
                b_name = #{bName},
            </if>
            <if test="content !=null and content != '' ">
                content = #{content},
            </if>

            <if test="time != null ">
                time = #{time}
            </if>
        </set>
        where b_id = #{bid}
    </update>

</mapper>